@model PlineFaxServer.Models.TblContact

@{
    ViewData["Title"] = "Create";
}

<h3 xmlns="http://www.w3.org/1999/html">ایجاد مخاطب</h3>
<hr/>
<style>
    .btncreate{
    margin-top: 1%;
    
    }
    .control-label{
    font-size: 14px;
    }
    .field-validation-error{
    font-size: 14px;
    }
    
</style>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-3">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control"/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="NickName" class="control-label"></label>
            <input asp-for="NickName" class="form-control"/>
            <span asp-validation-for="NickName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label asp-for="FaxNumber" class="control-label"></label>
            <input asp-for="FaxNumber" class="form-control"/>
            <span asp-validation-for="FaxNumber" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="FaxNumber2" class="control-label"></label>
            <input asp-for="FaxNumber2" class="form-control"/>
            <span asp-validation-for="FaxNumber2" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="FaxNumber3" class="control-label"></label>
            <input asp-for="FaxNumber3" class="form-control"/>
            <span asp-validation-for="FaxNumber3" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control"/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="PhoneNumber2" class="control-label"></label>
            <input asp-for="PhoneNumber2" class="form-control"/>
            <span asp-validation-for="PhoneNumber2" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="PhoneNumber3" class="control-label"></label>
            <input asp-for="PhoneNumber3" class="form-control"/>
            <span asp-validation-for="PhoneNumber3" class="text-danger"></span>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="MobileNumber" class="control-label"></label>
            <input asp-for="MobileNumber" class="form-control"/>
            <span asp-validation-for="MobileNumber" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="MobileNumber2" class="control-label"></label>
            <input asp-for="MobileNumber2" class="form-control"/>
            <span asp-validation-for="MobileNumber2" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="MobileNumber3" class="control-label"></label>
            <input asp-for="MobileNumber3" class="form-control"/>
            <span asp-validation-for="MobileNumber3" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="Email2" class="control-label"></label>
            <input asp-for="Email2" class="form-control"/>
            <span asp-validation-for="Email2" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="Email3" class="control-label"></label>
            <input asp-for="Email3" class="form-control"/>
            <span asp-validation-for="Email3" class="text-danger"></span>
        </div>

    </div>
    <div class="row">
        <div class="col-md-9">
            <label asp-for="Address" class="control-label"></label>
            <textarea asp-for="Address" class="form-control" ></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <label asp-for="Notes" class="control-label"></label>
            <textarea asp-for="Notes" class="form-control" > </textarea>
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>
        <div class="btncreate">
            <input type="submit" value="ایجاد" class="btn btn-success"/>
            <a asp-action="Index" class="btn btn-danger">بازگشت به لیست</a>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}